<div></div>
<h1 style="margin-bottom: 30px">Your saving accounts</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Num.</th>
      <th scope="col">Unique Id</th>
      <th scope="col">Name</th>
      <th scope="col">Interest rate</th>
      <th scope="col">Destroy acount</th>
    </tr>
  </thead>
  <tbody>
    <%if @saving_accounts.present?%>  
      <% @saving_accounts.each do |account|%>
        <tr>
          <td><%=account.id%></td>
          <td><%=account.unique_id%></td>
          <td><%=account.name%></td>
          <td><%=account.saving_account_type.interest_rate%></td>
          <td>
            <%= form_for [current_user, account], method: "delete"  do %>
                  <%= submit_tag "Delete Account", class: "btn btn-danger btn-sm rounded-0" %>
            <%end%>
          </td>
        </tr>
      <%end%>
    <%else%>
        <p>No accounts yet</p>
    <%end%>
  </tbody>
</table>
<br>
<%= link_to 'Create new saving Account', new_user_saving_account_path(current_user), class: "btn btn-dark btn-sm rounded-0" %> 
